@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Regular`.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
  @keyframes bubblerise {
    0% {
      bottom: 0;
      opacity: 0;
    }
    5% {
      bottom: 0;
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      bottom: 100%;
      opacity: 0;
    }
  }