@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Regular`.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit/Outfit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
